<title>蛛丝马迹 － 记单词</title>
<meta charset="utf=8" >
<meta name="viewport" content="width=device-width,user-scalable=no" >
<meta property="description" content="为你记录日常疑难单词，随时随地提供复习机会。">
<meta name="author" content="yusongone@gmail.com">
<meta name="github" content="http://github.com/yusongone">
<link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
<link href="/css/global.css" rel="stylesheet" />
<link href="/css/global.css" rel="stylesheet" />
<link rel="shortcut icon" href="/icon/favicon.ico">
