<div class="menuBar">
    <ul>
        <li> <a href="/trans/word">查询</a> </li>
        <li> <a href="/trans/sentence">分词</a> </li>
        <li> <a href="/word/all">复习</a> </li>
        <li> <a href="/analyze/">图形</a> </li>
    </ul>
</div>
<div class="top_bar">
  <div class="bar">
      <span class="logoTitle">蛛丝马迹</span>
      <div id="menu" class="menu">
        <i class="fa fa-reorder"> </i>
      </div>
      <div class="link_box">
          <a href="/trans/word">查询</a> 
          <a href="/trans/sentence">分词</a> 
          <a href="/word/all">复习</a> 
          <a href="/analyze/">图形</a>
      </div>
      <div class="username">
        <a><%= locals.username||"" %></a>
      </div>
  </div>
</div>
