<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8" >
        <link href="/css/search_page.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" >
        <style rel="stylesheet"></style>
    </head>
    <script src="/js/vendor/require-jquery.min.js" data-main="/js/search_page_private.js" ></script>
    <body>
        <div class="page">
            <div class="inputBox">
                <input id="searchInput" class="search_input"/>
                <div class="btn search_btn" id="searchBtn">search</div>
                <div id="trans_show" class="trans_show"> 
                </div> 
            </div>
        </div>
    </body>
</html>
