*{
color:#666;
list-style:none;
margin:0;
padding:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
font-family:proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{text-decoration:none;}
input{
    float:left;
    line-height:24px;
    padding:3px;
    padding-left:5px;
    font-size:14px;
    border:1px solid #efefef;
}
input:focus{
    border:1px solid #999;
    outline:none;
}
.btn{
    border-radius:2px;
    float:left;
    padding:5px 20px;
    color:#666;
    background:#f8f8f8;
    border:1px solid #efefef;
	  cursor:pointer;
	  text-align:center;
}
.btn:hover{
    color:#333;
    border:1px solid #ddd;
    background:#d8d8d8;
}

.top_bar{
  width: 100%;
  height: 45px;
  background: #fd0;
  z-index: 99999;
  position: relative;
  border-top:1px solid #999;
  border-bottom:1px solid #ddd;
}
.top_bar .bar{
    background:url("/images/spider.png") no-repeat center center;
    width:100%;
    height:45px;
    background-size:30px;
    max-width:800px;
    margin:0 auto;
}
@media(min-width:500px){
  .top_bar .bar{
    background-position:20px center;
  }
}
@media(min-width:800px){
  .top_bar .bar{
    background-position:0px center;
  }
}

.top_bar .link_box{
  margin-left:60px;
  float:left;
}
.link_box a{
  line-height: 45px;
  display: block;
  float: left;
  padding: 0 20px;
  font-size:16px;
  color:#444;
}
.link_box a:last-child{
  border-right:none;
}
.link_box a:hover{
  background: rgba(255, 242, 242, 0.5);
  color:#333;
}
@media(max-width:500px){
  .top_bar .link_box{
    display:none;
  }
}
.page{
    width:600px;
    margin:10px auto;
    position:relative;
}
@media(max-width:600px){
  .page{
    width:100%;
    border:none;
  }
}
.footer{
    font-size: 10px;
    color: #CCC;
    float: right;
    margin-top: 12px;
    margin-bottom:20px;
}

.menu,.set{
	cursor:pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	height: 30px;
	padding: 3px 5px 5px 5px;
	border-bottom: none;
	font-size: 24px;
	margin-top:4px;
}
.menu{
	margin-left:5px;
	float:left;
  display:none;
}
@media(max-width:500px){
  .menu{
    display:block;
  }
}
.set{
	float:right;
	margin-right:5px;
}
.menu.active{
		border: 1px solid #efefef;
		border-bottom: none;
		background:#fff;
		z-index: 999;
		position: relative;
}
.side_menu{
	position: absolute;
	background:#fff;
	left:0%;
	display:none;
	top: 32px;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-left: 5px;
	z-index: 2;
	font-size:14px;
}
.side_menu ul{
		padding:10px;
		padding-bottom:15px;
}
.side_menu li{
	height:28px;
	line-height:28px;
	padding:0 5px;
}
.overflow{
		position: fixed;
		top: 0;
		left: 0;
		background: #000000;
		width: 100%;
		height: 100%;
		opacity: 0.1;
}
.username{
  line-height:45px;
  height:45px;
  margin-right: 20px;
  float:right;
}
@media(min-width:800px){
  .username{
    margin-right:0px;
  }
}
.menuBar{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(0,0,0,0.65);
  z-index: 99;
  padding-top: 45px;
  text-align:center;
}
.menuBar a{
  color: #fff;
  display: block;
  text-align: center;
  line-height: 30px;
  border: 1px solid #999;
  padding: 0 30px;
  margin: 0 10px;
  margin-top:10px;
}
