.showBox{
  font-size: 14px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
  margin-bottom: 100px;
}
.showBox input{
  width:195px;
  height:auto;
  font-size:14px;
  border:1px solid #ddd;
  background:#fff;
}
.showBox label{
	float:left;
	width:60px;
	text-align:right;
	margin-right:10px;
	line-height:32px;
}

.showBox li{
  float:left;
	width: 300px;
	margin: 0 auto;
	margin-bottom:20px;
}
.showBox li .error,
.showBox li .check{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #00B100;
  position:absolute;
  display: none;
}
.showBox li .error_text{
  color: red;
  font-size: 12px;
  width: 80px;
  display: none;
  position: absolute;
  line-height: 28px;
  margin-left: 10px;
}

.showBox .loginBtn{
	float:right;
	margin-right:5px;
  margin-top:-5px;
}
.showBox .registerBtn{
  float:left;
}
input.captcha{
  width: 80px;
  float: left;
}
.toRegister{
  margin-left: 70px;
  font-size: 12px;
}

.toRegister:hover{
}
