<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/apollo.css" rel="stylesheet" />
    <link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="page top" id="page1">
        <div id="SideBarBox" class="side_bar_box">
            <div class="logo_area" style="display:none">蛛丝马迹</div>
            <div id="SideBarContent">
            </div>
        </div>
        <div id="ContentBox" class="content_box">
        </div>
    </div>
    <script src="http://localhost:8080/dist/bundle.js"></script>
</body>
</html>