<!DOCTYPE html>
<html>
    <head>
        <link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/global.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        <style rel="stylesheet"></style>
    </head>
    <script src="/js/vendor/require-jquery.min.js" data-main="/js/login.js" ></script>
    <body>
        <% include public_dom/top_bar %>
        <div class="page">
            <ul class="showBox">
				<li>
					<label> 帐号:</label>
					<input id="id" type="text" />
				</li>
				<li>
					<label> 密码:</label>
					<input id="pass"type="password" />
				</li>
				<li>
				<div class="btn loginBtn" id="loginBtn">登录</div>
				</li>
            </ul>
        </div>
        <div class="footer">翻译API来自于有道</div>
    </body>
</html>
