<!DOCTYPE html>
<html>
    <head>
        <link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/global.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        <style rel="stylesheet"></style>
    </head>
    <script src="/js/vendor/require-jquery.min.js" data-main="/js/login.js" ></script>
    <body>
        <% include public_dom/top_bar %>
        <div class="page">
            <ul class="showBox">
				<li>
					<label> 名称:</label>
					<input id="id" type="text" />
				</li>
				<li>
					<label> 密码:</label>
					<input id="pass" type="password" />
				</li>
				<li>
					<label> 重复密码:</label>
					<input id="repass" type="password" />
				</li>
				<li>
        <input class="captcha"  id="captcha" placeholder="邀请码"/>
				<div class="btn loginBtn" id="registerBtn">注册</div>
				</li>
            </ul>
        </div>
    </body>
</html>
