<!DOCTYPE html>
<html>
    <head>
        <% include public_dom/public_header %>
        <link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/global.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        <style rel="stylesheet"></style>
    </head>
    <script src="/js/vendor/require-jquery.min.js" data-main="/js/login.js" ></script>
    <body>
        <!--<% include public_dom/top_bar %>-->
        <div class="page">
            <ul class="showBox">
                <li>
                    <label> 邮件:</label>
                    <input id="email" type="text" />
                    <i class="fa fa-check check"></i>
                </li>
				<li>
					<label> 用户名:</label>
					<input id="username" type="text" />
                    <i class="fa fa-check check"></i>
				</li>
				<li>
					<label> 密码:</label>
					<input id="pass" type="password" />
				</li>
				<li>
					<label> 重复密码:</label>
					<input id="repass" type="password" />
				</li>
				<li>
                    <label> 邀请码:</label>
                    <input class="captcha"  id="captcha" placeholder=""/>
				</li>
                <li>
                    <label>&nbsp; </label>
                    <div class="btn registerBtn" id="registerBtn">注册</div>
                </li>
            </ul>
        </div>
    </body>
</html>
