<!DOCTYPE html>
<html>
    <head>
        <% include public_dom/public_header %>
        <script src="/js/vendor/require-jquery.min.js" data-main="/js/day_word.js" ></script>
        <link href="/css/vendor/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/day_word.css" rel="stylesheet" />
        <style rel="stylesheet"></style>
    </head>
    <body>
        <% include public_dom/top_bar %>
        <div class="page">
            <div class="side_bar">
              <div class="content">
                <ul class="side_nav">
                  <li> 本周</li>
                  <li> 本月</li>
                  <li id="day"> 所有</li>
                </ul>
                <div class="info_box" id="info_box">
                </div>
              </div>
              <div class="knob" id="knob">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
            <div class="wordListBox large">
              <div class="prev_next">
                <div id="prev" class="prev">
                  <i class="fa fa-chevron-circle-up"></i>
                </div>
                <div id="next" class="next">
                  <i class="fa fa-chevron-circle-down"></i>
                </div>
              </div>
              <div class="wordBar">
                <div id="count_nav" class="count_nav"></div>
                <div class="buttonBox">
                  <i id="filter" class="fa fa-filter"></i>
                  <i id="large" class="fa fa-th-large"></i>
                  <i id="list" class="fa fa-th-list"></i>
                </div>
              </div>
              <ul id="wordList" class="wordList">
              </ul>
            </div>
        </div>
    </body>
</html>
